.main-frame
{
    width:50%;
    margin:auto;
}
.btn.cancel{
    margin-right:40px;
}
.row.buttons{margin: 10px;}
@media only screen and (max-width: 600px) {
  
  .main-frame {
    width: 95%;
    margin: auto;
  }
}
