h1 {text-align: right;}

.overlay {background: #e9e9e9;position: fixed;top: 0;right: 0;bottom: 0;left: 0;opacity: 0.5;z-index: 1;}
.waiting-image {position: absolute;top: 50%;left: 45%;}
.purchase-header-row {background-color: cornflowerblue;color: white;font-weight: bold;}
.purchase-row {height: 39px;  }
.purchase-col {display: inline-block;
  border: 1px solid black;padding: 5px;width: 13%;
  text-align: right;
  height:40px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.purchase-col:nth-child(1) {width: 5%;text-align: center;}
.purchase-col:nth-child(2) {width: 5%;text-align: center;}
.purchase-col:nth-child(4) {width: 25%;}

.purchase-image{text-align:center;}
.purchase-image .purchase-thumb {visibility:visible; width:28px;height:28px;border-radius: 5px;border:1px solid #4da5ea;}
.purchase-image.active .purchase-thumb {visibility:hidden;}
.purchase-image .purchase-full-image {visibility:hidden;position: fixed;left: 7px;top: 7px;max-width:96%;max-height: 95%;border-radius: 5px;border: 1px solid #4da5ea;}
.purchase-image.active .purchase-full-image {visibility:visible;}

.filter-div {
  text-align: right;
  margin-bottom: 10px;
  background-color: beige;
  padding: 10px;
  border: 2px solid green;
}

  .filter-div .filter-item {
    display: inline-block;
  }

  .filter-div label {
    margin-left: 2px;
    font-weight: bold;
  }

.dropdown-select {position: relative;}
.dropdown-select i {position: absolute;left: 3px;top: 7px;font-size: 16px;}
.dropdown-select {display: inline-block;position: relative;font-family: Arial;margin-left: 10px;}
.dropdown-select img.save-button {width: 25px;height: 25px;margin: 5px;}
.dropdown-select select{height:40px;min-width:257px;border-radius:5px;border-color:#ced4da;padding-right:15px}
.dropdown-select select.status-id {
    padding: 5px 10px 5px 20px;
    line-height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

.purchase-col .dropdown-select i {
  left: 40px;               
}

.filter-div .filter-input {padding: 4px;margin-left: 10px;}

.filter-div .customer-name-filter-label {margin-left: 10px;}

.filter-div .customer-tel-filter-label {margin-left: 10px;}

.filter-div.buttons {float: left;}

@media (max-width: 768px) {
  .filter-div {height: 142px}
  .filter-div .filter-item {width: 100%;}
  .filter-div .filter-item .dropdown-select {width: 80%;}
  .filter-div .filter-item .customer-tel-filter-label {margin-left: 3px;}
  .filter-div .filter-item input {margin-top:5px;width: 46%;}
  .filter-div .filter-item.buttons {padding: 0;width: 100%;}
  .filter-div .filter-item.buttons .btn {width: 45%;margin: 5px !important;padding: 5px;}
  .filter-div .filter-item .dropdown-select select {width: 80%;}

  .mobile-purchases-list .purchase-item {border: 1px solid green;padding: 10px;border-radius: 5px;background-color: #a8ce5736;margin-bottom: 5px;text-align: right;}
  .mobile-purchases-list .purchase-item .purchase-item-detail-lable {margin-left: 10px;font-weight: bold;}
  .mobile-purchases-list .purchase-item .purchase-item-detail-lable.more-details {margin-right: 10px;}

  .purchase-item {position:relative;}  
  .purchase-item-detail img.purchase-item-detail-data {position: absolute;left: 7px;top: 7px; width:40px;height:40px;border-radius: 5px;border:1px solid #4da5ea;}
  .purchase-item-detail img.purchase-item-detail-data.active {position: fixed;left: 7px;top: 7px; width:96%;height:95%;border-radius: 5px;border:1px solid #4da5ea;}
  .save-success-message {text-align: center;border: 2px double green;border-radius: 10px;padding: 20px;position: fixed;width: 80%;top: 30%;left: 10%;z-index: 1;background-color: lightblue;color: darkblue;}
}
