.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Increased space between cells */
  margin-top: 20px; /* Added 20px margin at the top of the table */
}

.category {
  flex: 1 1 calc(20% - 20px); /* Adjusted for the increased gap */
  max-width: calc(20% - 20px);
  box-sizing: border-box;
  background-color: #00bbff45; /* Background color */
  color: white;
  font-size: 26px;
  border: 1px solid white; /* Border width */
  border-radius: 5px; /* Rounded border */
  padding: 20px;
  height: 150px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Cairo', sans-serif; /* Example Arabic font */
}
.category:hover {
  transform: scale(1.1) rotate(1deg);  
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  background-color: #1E90FF;
}
.category a {
  color: white;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-name {
  display: block;
}
@media (max-width: 768px) {
  .categories {
      width: 100%;
      margin: 45px 0 auto; 
      justify-content: center; 
      gap:8px;
  }

  .category {
      flex: 0 0 calc(50% - 20px);
      max-width: calc(50% - 20px);
      padding: 6px;
      height: 54px;
      font-size: 18px;
  }
}
