.cart-icon-container {
    position: relative;
    cursor: pointer;
}

.cart-icon {
    font-size: 1.8rem;
    color: #fff;
    position: relative;
}

.cart-badge {
    position: absolute;
    top: -6px;
    right: 10px;
    background-color: red;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
